<div class="calc-container">
  <div class="calc-display">{{ display || '0' }}</div>
  <div class="calc-buttons">
    <button (click)="borrar()">C</button>
    <button (click)="eliminar()">Eli</button>
    <button (click)="calcularPorcentaje()">%</button>
    <button (click)="seleccionarOperacion('/')">÷</button>

    <button (click)="agregarNumero('7')">7</button>
    <button (click)="agregarNumero('8')">8</button>
    <button (click)="agregarNumero('9')">9</button>
    <button (click)="seleccionarOperacion('*')">×</button>

    <button (click)="agregarNumero('4')">4</button>
    <button (click)="agregarNumero('5')">5</button>
    <button (click)="agregarNumero('6')">6</button>
    <button (click)="seleccionarOperacion('-')">−</button>

    <button (click)="agregarNumero('1')">1</button>
    <button (click)="agregarNumero('2')">2</button>
    <button (click)="agregarNumero('3')">3</button>
    <button (click)="seleccionarOperacion('+')">+</button>

    <button class="zero" (click)="agregarNumero('0')">0</button>
    <button (click)="agregarNumero('.')">.</button>
    <button (click)="calcular()">=</button>
  </div>
</div>
